body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;

}
.container{
    display: flex;
    flex-wrap: wrap; 
    width: 480px;
    justify-content: center;
    margin-bottom: 10px;
    border: 2px solid black;
}